<div class="AppBar">
    <div class="app-menu-bar-item app-logo">
        <!-- <img src="./logo.png"> -->
    </div>
    <div class="app-menu-bar-item app-title">
        GreenTea
    </div>
    <div class="app-menu-bar-item app-menu-bar-component">
        <span id="coord-indicator">x: 0, y: 0</span>
    </div>
    <div class="app-menu-bar-item app-menu-bar-component">
        <button id="move-mode">Move</button>
        <button id="rect-mode">Rect</button>
        <button id="home">Home</button>
    </div>
    <div class="app-menu-bar-item app-menu-bar-component">
        <div id="color-picker">
            <div data-color="red" class="color-swatch">
            </div>
            <div data-color="orange" class="color-swatch">
            </div>
            <div data-color="green" class="color-swatch">
            </div>
            <div data-color="blue" class="color-swatch">
            </div>
            <div data-color="purple" class="color-swatch">
            </div>
            <div data-color="black" class="color-swatch color-swatch-selected">
            </div>
        </div>
    </div>
</div>