@import "../../global.scss";

.AppMenuBar {
    display: flex;
    width: 100%;
    height: $app-menu-bar-height;

    background: #353535; /* Old browsers */
    // background: -moz-linear-gradient(top, #222222 0%, #303030 55%, #474747 100%); /* FF3.6-15 */
    // background: -webkit-linear-gradient(top, #222222 0%, #303030 55%, #474747 100%); /* Chrome10-25,Safari5.1-6 */
    // background: linear-gradient(
    //     to bottom,
    //     #222222 0%,
    //     #303030 55%,
    //     #474747 100%
    // ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#474747',GradientType=0 ); /* IE6-9 */

    color: #fdfdfd;
    box-sizing: border-box;
}

.AppMenuBar-logo {
    background: url('../../scss/kamui_logo_white.png') no-repeat 0 0;
    background-size: 25px;
    background-position: center;
    width: 35px;
    height: 35px;
    margin-left: 5px;
}

.AppMenuBar-title {
    font-weight: 700;
    font-size: 12pt;
    margin-right: 20px;
    line-height: 150%;
}

.AppMenuBar-item {
    padding: 5px;
    box-sizing: border-box;
    font-size: 10pt;
    line-height: 175%;
}

.AppMenuBar-component {
    min-width: 200px;
}

span {
    font-family: monospace;
    letter-spacing: -1pt;
}