$app-menu-bar-height: 35px;

html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    font-family: "Montserrat", "Veranda", sans-serif;
}

button {
    background-color: #333;
    border: solid 1px #555;
    color: #fff;
}

button:active {
    background-color: #222;
}

.app-menu-bar-wrapper {
    position: fixed;
    width: 100%;
}

#app-menu-subbar {
    height: 25px;
    display: flex;
    justify-content: space-between;
    color: white;
}

#app-menu-subbar-left {
    display: flex;

}

#app-menu-subbar-left::before {
    content: '';
    display: block;
    width: 100%;
    transform: skewX(-10deg) scaleX(1.2) translateX(-10px);
    background: #222222; /* Old browsers */
    background: -moz-linear-gradient(top, #222222 0%, #303030 55%, #474747 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #222222 0%, #303030 55%, #474747 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
        to bottom,
        #222222 0%,
        #303030 55%,
        #474747 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#474747',GradientType=0 ); /* IE6-9 */

}

#app-menu-bar {
    display: flex;
    width: 100%;
    height: $app-menu-bar-height;

    background: #222222; /* Old browsers */
    background: -moz-linear-gradient(top, #222222 0%, #303030 55%, #474747 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #222222 0%, #303030 55%, #474747 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
        to bottom,
        #222222 0%,
        #303030 55%,
        #474747 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#474747',GradientType=0 ); /* IE6-9 */

    color: #fff;
    box-sizing: border-box;
}

#coord-indicator {
    width: 200px;
    // font-family: serif;
}

.app-menu-bar-item {
    padding: 5px;
    box-sizing: border-box;
    font-size: 10pt;
    line-height: 175%;
}

.app-menu-bar-component {
    min-width: 200px;
}

.app-title {
    font-weight: 700;
    font-size: 12pt;
    margin-right: 20px;
    line-height: 150%;
}

.app-logo {
    background: url("./logo_white.png") no-repeat 0 0;
    background-size: 25px;
    background-position: center;
    width: 35px;
    height: 35px;
}


.container {
    width: 100%;
    height: 100%;
}

.layer {
    position: absolute;
    pointer-events: none;
    // width: 100%;
    // height: 100%;
}

.canvas-wrapper {
    pointer-events: auto !important;
    position:absolute;
    top: $app-menu-bar-height;
    // box-sizing: border-box;
    height: calc(100% - #{$app-menu-bar-height});
    background-color: '#fdfdfd';
}

.dialog {
    background-color: rgba(0.2, 0.2, 0.2, 0.65);
    color: rgb(245, 245, 245);
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 1);
    margin: 0 5px;
    // padding: 15px;
    flex-direction: column;
    padding: 15px 0;
    box-shadow: 0 0 5px #777;
}

.dialog-section {
    padding: 0 15px;
    // flex-grow:1;
}

.dialog-button {
    width: 50px;
    height: 50px;
}

.separator {
    height: 0;
    width: 100%;
    flex-shrink: 2;
    // border-top: groove 1px rgb(199, 199, 199);
    border-top: groove 2px #646464;
    margin: 15px 0;
}

#left-sidebar {
    width: 175px;
}

// #left-sidebar {
#dialogs-left {
    // display: flex;
    justify-content: space-between;
}

#color-picker {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.color-swatch {
    border: solid 1px #222;
    margin: 0 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.color-swatch-selected {
    border: solid 2px #fff;
}

#nickname {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#nickname-field {
    background-color: transparent;
    border: 0;
    color: #fff;
    outline: 0;
    width: auto;
    flex-grow: 2;
    margin: 0 10px 0 1px;
    font-family: inherit;
    font-size: 11pt;
    padding: 5px 0;
    height: 30px;
    box-sizing: border-box;
}

#nickname-field.editable {
    border-bottom: solid 1px #fff;
}

#nickname-toggle-edit {
    cursor: pointer;
}

#connected-users-list {
    margin-left: 0;
    padding-left: 20px;
    // list-style: none;//square;
    font-family: inherit;
    font-size: 16px;
}

#connected-users-list > li {
    margin: 7px 0;
}

.dialog-section-header {
    color: rgb(235, 235, 235);
    display: block;
    width: 100%;
    font-weight: 700;
    margin-bottom: 10px;
    flex-grow: 3;
    letter-spacing: 0.5pt;
    // break-after: always;
}

.dialog-section-header::after {
    // content: ":";
}

#CanvasLayer {
    z-index: -1;
}

#DialogLayer {
    // height: 100%;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: 14px 13px;
    box-sizing: border-box;
    pointer-events: none;
}

.dialog-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#DialogLayer > .dialog {
    pointer-events: auto;
}

.TextInput {
    border: none;
    // border-bottom: solid 3px #222;
    outline: none;
    overflow: auto;

    width: 600px;

    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    padding: 0;
    margin: 0;
    position: absolute;
    font-family: sans-serif;
    background: transparent;
}

.TextInput:focus {
    outline: 0;
}

.hidden {
    display: none;
    visibility: hidden;
}

.dragged {
    cursor: grab;
}

.dragged-rect {
    cursor: none;
}