html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    font-family: 'Veranda', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
}

.layer {
    position: absolute;
    pointer-events: none;
    // width: 100%;
    // height: 100%;
}

.canvas-wrapper {
    pointer-events: auto !important;
}

.dialog {
    background-color: rgba(0.2,0.2,0.2,0.65);
    color: rgb(245, 245, 245);
    border-radius: 5px;
    border: solid 1px rgba(0.0,0.0,0.0,1.0);
    // padding: 15px;
    padding: 15px 0;
    box-shadow: 0 0 5px #777;
}

.dialog-section {
    padding: 0 15px;
    // flex-grow:1;
}

#coords {
}

.separator {
    height: 0;
    width: 100%;
    flex-shrink: 2;
    // border-top: groove 1px rgb(199, 199, 199);
    border-top: groove 2px #646464;
    margin: 15px 0;
}

#left-sidebar {
    // display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 175px;
}

#color-picker {
    display: flex;
    flex-direction: row;
    justify-content:  flex-start;
    flex-wrap: wrap;
}

.color-swatch {
    border: solid 1px #222;
    margin: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.color-swatch-selected {
    border: solid 2px #fff;
}

#right-sidebar {
}

#nickname {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between
}

#nickname-field {
    background-color: transparent;
    border: 0;
    color: #fff;
    outline: 0;
    width: auto;
    flex-grow: 2;
    margin: 0 10px 0 1px;
    font-family: inherit;
    font-size: 11pt;
    padding: 5px 0;
    height: 30px;
    box-sizing: border-box;
}

#nickname-field.editable {
    border-bottom: solid 1px #fff;
}

#nickname-toggle-edit {
    cursor: pointer;
}

#connected-users-list {
    margin-left: 0;
    padding-left: 20px;
    // list-style: none;//square;
    font-family: inherit;
    font-size: 16px;
}

#connected-users-list > li {
    margin: 7px 0;
}

.dialog-section-header {
    color:rgb(235, 235, 235);
    display: block;
    width: 100%;
    font-weight: 700;
    margin-bottom: 10px;
    flex-grow: 3;
    letter-spacing: 0.5pt;
    // break-after: always;
}

.dialog-section-header::after {
    // content: ":";
}


#CanvasLayer {
    z-index: -1;
}

#DialogLayer {
    // height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: 14px 13px;
    box-sizing: border-box;
    pointer-events: none;
}

#DialogLayer > .dialog {
    pointer-events: auto;
}


.TextInput {
    border: none;
    // border-bottom: solid 3px #222;
    outline: none;
    overflow: auto;

    width: 600px;

    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    padding: 0;
    margin: 0;
    position: absolute;
    font-family: sans-serif;
    background: transparent;
}

.TextInput:focus {
    outline: 0;
}

.hidden {
    display: none;
    visibility: hidden;
}

.dragged {
    cursor: grab;
}

#coord-indicator {
    font-family: monospace;
}